body {
    background-color: #141414;
    color: lightcyan;
    font-size: larger;
}

.isActive {
    color: darkorange;
    text-decoration: underline;
}

.content {
    margin-left: 13%;
    margin-right: 13%;
}

.content a {
    color: yellow;
}

.content a:hover {
    color: yellow;
    text-decoration: underline;
}

.content h5 {
    color: rgb(86, 86, 209);
}

.content h4 {
    color: rgb(86, 86, 209);
}

.content h3 {
    color: rgb(86, 86, 209);
}

.content h2 {
    color: rgb(86, 86, 209);
}

.content h1 {
    color: rgb(86, 86, 209);
}

.content .siteTitle {
    text-decoration: underline;
    color: darkorange
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration: none;
}

.title {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-size: 300%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: whitesmoke;
}

.topbar {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: darkslategrey;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
}

.bottombar {
    text-align: left;
    font-weight: normal;
    color: lightgray;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}

.bottombarTrenner {
    border: 3px;
    border-style: solid;
    background-color: darkslategray;
    border-color: darkslategray;
    margin-bottom: 5px;
}

.notMobileTopBar {
    display: inline;
}

.mobileTopBar {
    display: none;
}

/* For smaller screens */
@media only screen and (max-width: 1024px) {
    .content {
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        margin-left: 2%;
        margin-right: 2%;
    }

    .topbar {
        margin-left: 2%;
        margin-right: 2%;
    }

    .bottombar {
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 845px) {
        body {
            font-size: large;
        }
        .topbar {
            font-size: 120%;
        }
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 680px) {
        .topbar {
            font-size: 110%;
        }
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 590px) {
        .topbar {
            font-size: larger;
        }

        .notMobileTopBar {
            display: none;
        }

        .mobileTopBar {
            display: flex;
            margin-top: 8px;
        }
    }
}

/* For lager screens */
@media only screen and (min-width: 1930px) {
    .content {
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 1560px;
        margin-left: auto;
        margin-right: auto;
    }

    .topbar {
        width: 1560px;
        margin-left: auto;
        margin-right: auto;
    }

    .bottombar {
        width: 1560px;
        margin-left: auto;
        margin-right: auto;
    }
}