body {
    background-color: #141414;
    color: lightcyan;
    font-size: larger;
}

.topbar .isActive {
    color: white;
}

.topbar a {
    color: #141414;
    font-weight: bold;
}

.isActive {
    border: 2px;
    color: #e122b1;
    background-color: rgba(156, 33, 90, 0.753);
    padding: 2px;
    border-radius: 6px;
    text-decoration: none;
}

.content {
    margin-left: 13%;
    margin-right: 13%;
}

.content a {
    color: rgba(255, 140, 234, 0.783);
}

.content a:hover {
    color: rgb(252, 121, 184);
    text-decoration: underline;
}

.content h5 {
    color: rgb(255, 140, 247);
}

.content h4 {
    color: rgb(255, 140, 247);
}

.content h3 {
    color: rgb(255, 140, 247);
}

.content h2 {
    color: rgb(255, 140, 247);
}

.content h1 {
    color: rgb(255, 140, 247);
}

.content .siteTitle {
    text-decoration: underline;
    color: darkorange
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(104, 32, 100);
    text-decoration: none;
}

.isActive:hover {
    color: #dbbdd8;
}

.title {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 300%;
    margin-top: 30px;
    margin-bottom: 0px;
    color: whitesmoke;
    background: linear-gradient(to right, #e122b1, #940ea9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.topbar {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(88, 40, 91);
    background: linear-gradient(to right, #b3b3b3, #d4c1d3);
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    border-radius: 10px;
}

.bottombar {
    text-align: left;
    font-weight: normal;
    color: lightgray;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}

.bottombar a:hover {
    text-decoration: underline;
    color: #e122b169;
}

.bottombarTrenner {
    background: linear-gradient(to right, #e1e1e1, #d9d8d8);
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(88, 40, 91);
    border-color: rgb(88, 40, 91);
    margin-bottom: 5px;
}

.notMobileTopBar {
    display: inline;
}

.mobileTopBar {
    display: none;
}

/* For smaller screens */
@media only screen and (max-width: 1024px) {
    .content {
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        margin-left: 2%;
        margin-right: 2%;
    }

    .topbar {
        margin-left: 2%;
        margin-right: 2%;
    }

    .bottombar {
        margin-left: 3%;
        margin-right: 3%;
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 845px) {
        body {
            font-size: large;
        }
        .topbar {
            font-size: 120%;
        }
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 680px) {
        .topbar {
            font-size: 110%;
        }
    }

    /* Navbar for Mobile */
    @media only screen and (max-width: 590px) {
        .topbar {
            font-size: larger;
        }

        .notMobileTopBar {
            display: none;
        }

        .mobileTopBar {
            display: flex;
            margin-top: 8px;
        }
    }
}

/* For lager screens */
@media only screen and (min-width: 1400px) {
    .content {
        width: 1065px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .topbar {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .bottombar {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
}